body {
    display: table;
    width: 100%;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #fff;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap {
    color: rgb(99, 127, 131);
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 21px;
}

.top-bar__logo {
    font-size: 26px;
    display: inline-block;
}

.menu {
    display: inline-block;
    padding-top: 18px;
}

.menu-item {
    cursor: pointer;
    text-decoration: solid;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    padding: 0 25px;
}

.banner {
    background-image: url('../assets/header/banner/wallpaperwide.png');
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
}

.banner-head {
    color: #fff;
    padding-top: 142px;
    padding-bottom: 127px;
}

.banner-head__big-text {
    letter-spacing: 3px;
    font-size: 32px;
    text-decoration: underline;
    max-width: 450px;
    margin: 0 auto;
}

.banner-head__little-text {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 24px;
    padding-top: 33px;
    padding-bottom: 39px;
}

.circle {
    border-radius: 50%;
    background-color: rgb(228, 85, 29);
    margin: 0 auto;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title-container {
    padding: 41px 0;
}

.main-title__title {
    font-size: 25px;
    font-weight: bold;
}

.main-title__description {
    font-size: 19px;
}

.featured-content {
    background-color: rgb(246, 246, 246);
}

.fc-item {
    padding: 62px 0;
    display: inline-block;
}

.fc-item-content {
    padding-left: 40px;
    padding-right: 50px;
}

.fc-item-btn {
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 73px;
    height: 36px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(99, 127, 131);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc-item__name {
    padding-top: 34px;
    font-size: 20px;
    font-weight: bold;
}

.fc-item__description {
    max-width: 205px;
    color: rgb(149, 148, 148);
    line-height: 20px;
    font-size: 13px;
    padding-top: 21px;
    padding-bottom: 27px;
}

.fc-item-btn__text {
    width: 36px;
    height: 10px;
    background-repeat: no-repeat;
    background-image: url('../featured_content/more.png');
}

.portfolio {
    text-align: center;
}

.portfolio-title {
    padding-top: 31px;
    padding-bottom: 35px;
}

.portfolio-title__title {
    font-size: 25px;
    font-weight: bold;
}

.portfolio-title__description {
    font-size: 19px;
}

.portfolio-line {
    position: relative;
    padding-top: 50px;
    padding-bottom: 59px;
    border: solid 1px rgb(217,217,217);
    border-left: none;
    border-right: none;
}

.portfolio-control-buttons {
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: -11px;
    width: 89px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.portfolio-image {
    cursor: pointer;
}

.view-portfolio-button {
    color: #fff;
    margin: 0 auto;
    margin-top: 38px;
    width: 154px;
    height: 44px;
    border-radius: 7px;
    text-decoration: none;
    background-color: rgb(228, 85, 29);
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff {
    padding-top: 40px;
    padding-bottom: 64px;
}

.staff-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.staff-item {
    width: 570px;
    overflow: hidden;
    padding-top: 20px;
}

.staff-item__position {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 17px;
}

.staff-item__biografy {
    color: rgb(149, 148, 148);
    line-height: 24px;
    font-size: 13px;
}

.staff-item__more {
    cursor: pointer;
    color: rgb(228, 85, 29);
}

.staff-photo {
    background-color: rgb(214, 224, 225);
    width: 102px;
    height: 103px;
    display: inline;
    overflow: hidden;
    border-radius: 10px;
    float: left;
    margin-right: 21px;
}

.footer {
    color: #fff;
    background-color: rgb(99, 127, 131);
    text-align: center;
}

.footer-title {
    padding-top: 49px;
    padding-bottom: 37px;
    border-bottom: 1px solid rgb(89, 114, 117);
}

.footer-title__title {
    font-size: 31.5px;
    font-weight: bold;
}

.footer-title__description {
    font-size: 22px;
}

.subscribe-line {
    padding-bottom: 50px;
}

.subscribe-newsletter {
    overflow: hidden;
    display: inline-block;
}

.subscribe-newsletter__icon {
    display: inline;
    float: left;
    margin-right: 18px;
}

.subscribe-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.subscribe-item {
    margin-top: 40px;
}

.subscribe-newsletter {
    text-align: left;
}

.subscribe-newsletter__title {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}

.subscribe-newsletter__description {
    padding-top: 5px;
    font-size: 13px;
}

.subscribe-newsletter-input {
    text-align: center;
    padding-top: 27px;
}

.subscribe-newsletter-input__textbox {
    vertical-align: top;
    background-color: rgb(89, 114, 117);
    height: 41px;
    width: 443px;
    border: none;
    border-radius: 7px;
    padding-left: 5px;
}

.subscribe-newsletter-button {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    width: 103px;
    height: 43px;
    background-color: rgb(89, 114, 117);
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.twitter {
    max-width: 565px;
    display: inline-block;
    background-color: rgb(89, 114, 117);
}

.twitter__icon {
    display: inline;
    float: left;
    padding: 27px;
}

.newsletter-text {
    display: inline-block;
}

.twitter__text {
    line-height: 20px;
    text-align: left;
    color: rgb(181, 199, 201);
    font-size: 13px;
    display: block;
    padding: 22px 24px;
    padding-left: 0px;
}

.subscribe-newsletter-button-text {
    display: block;
}

.social-media-line {
    background-color: #fff;
    padding: 30px 0;
}

.sm-icon {
    margin-right: 20px;
    float: left;
}

.sm-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sm-item {
    cursor: pointer;
    min-width: 270px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    /*padding-right: 130px;*/
}

.sm-follow-text {
    font-size: 16px;
    font-weight: bold;
    color: rgb(99, 127, 131);
    margin-top: 15px;
}

.sm-item__follow-description {
    color: rgb(191, 206, 208);
    font-size: 13px;
    padding-top: 3px;
}

.designed-by-line {
    padding: 36px 0;
}

.designed-by-line__content {
    font-size: 13px;
}

.menu__active-item {
    color: rgb(228, 85, 29);
}

    .menu__active-item::before {
        content: '';
        display: block;
        margin: 0 auto;
        margin-bottom: 14px;
        width: 9px;
        height: 6px;
        background-repeat: no-repeat;
        background-image: url('../assets/header/menu/arrow.png');
    }

.cursor_pointer {
    cursor: pointer;
}
